# OS-specific
.DS_Store
Thumbs.db

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Environment
.env
*.env

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
